<!DOCTYPE html>
<html>

<head>
	<link href="/static/styles.css" rel="stylesheet" />
	<title>El frontednd de la app</title>
</head>
{% block content %}

<body>
	<h1>{{txt3}}</h1>
	<div id="header">
		<ul class="nav">
			<li><input type="file" id="file-input" /></li>

			<li><a href="">Peticiones</a>
				<ul>
					<li>
						
						<form method="post">
							<BUTTON id="enviar">Enviar</BUTTON>
						</form>
					</li>
					<li><a href="">Filtrar informacion por fecha y usuario que reporta</a></li>
					<li><a href="">Filtrar por fehca y codigo de error</a></li>
				</ul>
			</li>


			<li><a href="">Ayuda</a>
				<ul>
					<li><a href="/datos">Informacion del estudiante</a></li>
					<li><a href="/reporte">Documentacion</a></li>
				</ul>
			</li>
		</ul>
	</div>

	<div id="botones">
		<form method="post">
			<BUTTON id="enviar">Enviar</BUTTON>
			<Textarea id="entrada" rows="20" cols="50" name='u' readonly>{{txt1}}</textarea>
			<Textarea id="salida" rows="20" cols="50" readonly>{{txt2}}</textarea>
		</form>
		<form action="">
			<BUTTON id="reset" onclick="templates/index.html">Reset</BUTTON>
		</form>
	</div>

	<script>
		function leerArchivo(e) {
			var archivo = e.target.files[0];
			if (!archivo) {
				return;
			}
			var lector = new FileReader();
			lector.onload = function (e) {
				var contenido = e.target.result;
				mostrarContenido(contenido);
			};
			lector.readAsText(archivo);
		}

		function mostrarContenido(contenido) {
			var elemento = document.getElementById('entrada');
			elemento.innerHTML = contenido;
		}

		document.getElementById('file-input')
			.addEventListener('change', leerArchivo, false);
	</script>
</body>
{% endblock %}

</html>