<!DOCTYPE html>
<html>

<head>
	<link href="/static/styles.css" rel="stylesheet" type="text/css">
	<title>El frontednd de la app</title>
</head>
{% block content %}

<body>
	<div id="header">
		<ul class="nav">
			<li><a href="abrir_archivo()" id="cargar" type="file">Cargar Archivos</a></li>

			<li><a href="">Peticiones</a>
				<ul>
					<li><a href="">Consultar Datos</a></li>
					<li><a href="">Filtrar informacion por fecha y usuario que reporta</a></li>
					<li><a href="">Filtrar por fehca y codigo de error</a></li>
				</ul>
			</li>


			<li><a href="">Ayuda</a>
				<ul>
					<li><a href="">Informacion del estudiante</a></li>
					<li><a href="">Documentacion</a></li>
				</ul>
			</li>
		</ul>
	</div>
	<!--Botones--
	<div id = "botones">
		<BUTTON id = "enviar" >Enviar</BUTTON>
		<BUTTON id = "reset" >Reset</BUTTON>
	</div>
	Textarea-->


	<div id="botones">
		<form action="#" method="post">
			<BUTTON id="enviar">Enviar</BUTTON>
		</form>
		<BUTTON id="reset">Reset</BUTTON>
	</div>

	<div id="area_texto">
		<Textarea id="entrada" rows="20" cols="50"></textarea>
		<Textarea id="salida" rows="20" cols="50"></textarea>
	</div>

	<script>
		function abrir_archivo(evento) {
			return "hola";
		}
	</script>

</body>
{% endblock %}

</html>